<p style="color: green"><%= notice %></p>

<%= render @deadline %>

<div>
  <%= link_to "Edit this deadline", edit_deadline_path(@deadline) %> |
  <%= link_to "Back to deadlines", deadlines_path %>

  <%= button_to "Destroy this deadline", @deadline, method: :delete %>
</div>
